.grid-container {
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "Section-Donation Section-Stream Section-Stream"
      "Section-Donation Section-Twitter Section-Schedule";
  }
  
  .Section-Donation { grid-area: Section-Donation; }
  
  .Section-Stream { grid-area: Section-Stream; }
  
  .Section-Twitter { grid-area: Section-Twitter; }
  
  .Section-Schedule { grid-area: Section-Schedule; }
  